body{
	font:15px/1.5 Arial, Helvetica,sans-serif;
	padding: 0px;
	background-color:#f4f3f3;
}

.container{
	width:100%;
	margin: auto;
	overflow: hidden;
}

header h2{
	text-align:center;
	color:#fff;

}
input[type=submit]:hover {
    background-color: #5645a0;
}

input[type=submit] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    margin: 4px 2px;
    cursor: pointer;
}





